
<style>
  .container {
    height: 400px;
    width: 800px;
  }
  #map {
    position: relative;
    height: 400px;
  }
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<h2>
  Average Rating:
</h2>
<p><%= Restaurant.get_average_rating(@restaurant) %></p>

<h2>
  Reviews:
</h2>
<ul>
  <%@restaurant.reviews.each do |review|%>
  <li>
    <%= review.rating %> by: <%= review.user.email %>
  </li>
  <%end%>
</ul>

<h2>
  Leave a rating:
</h2>

<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
<p>
  <%= f.label :rating %> (please write a number)
  <%= f.text_field :rating %>
</p>

<p>
  <%= f.submit %>

</p>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<% end %>
<%= link_to 'Back', restaurants_path %>

<div class='container'>
  <div id='map'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%=@restaurant.latitude%>,
        "lng": <%=@restaurant.longitude%>,
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16)
  });
</script>
